/* :root {
  --sidebar-width: 260px;
  --primary-color: #008080;
  --text-color: #4c5257;
  --icon-color: #666;
  --bullet-color: #008080;
  --active-text-color: #fff;
} */

.employee-profile-page {
  padding: 0px 24px;
  background-color: #f9fafb;
  height: 100%;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-profile {
  height: 100vh;
  width: 100%;
}
.inside-container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image-title{
  text-align: center;
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #eee;
  /* margin-top: -15px; */
}

.profile-employee-name {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 25px;
  text-align: center;
}
.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.two-form-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5%;
  margin-bottom: 25px;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
}
.form-input label {
  font-weight: bold;
}

.form-input-icon {
  position: relative;
  width: 100%;
}
.form-input input {
  padding: 10px 1em 10px 2.4em;
  background-color: #f5f5f5;
  border: 1px solid #b1abab;
  border-radius: 5px;
  width: 100%;
  min-width: fit-content;
  height: 50px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.form-input input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 1px rgba(0, 128, 128, 0.5);
}
.form-input img {
  width: 24px;
  position: absolute;
  left: 0.7em;
  top: 0.7em;
}

.change-password-container {
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  align-self: center;
  width: 60px;
  margin-top: 3px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch :checked + .slider {
  background-color: var(--primary-color);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:hover {
background-color: #266663;
}

.slider.round:before {
  border-radius: 50%;
}

.button-submit-profile {
  margin-top: 15px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  align-self: flex-start;
  background-color: var(--primary-color);
border: none;
margin-bottom: 50px;
font-size: 18px;
color: white;
cursor: pointer;
}
.button-submit-profile:hover {
  background-color: #266663;;
}

@media all and (max-width: 1090px) {
  .two-form-inputs {
    flex-direction: column;
    gap: 25px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.modal-content .modal-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.modal-content .modal-image-preview {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
}


.modal-content .model-file-input {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 50%;
}

.modal-content .modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-content .cancel-button,
.modal-content .submit-button {
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 35%;
  border: 1px solid #b6b6b6;
}

.modal-content .cancel-button {
  background-color: #ccc;
  color: white;
}

.modal-content .submit-button {
  background-color:var(--primary-color);
  color: white;
}

.modal-content .cancel-button:hover {
  background-color: #999;
}

.modal-content .submit-button:hover {
  background-color: #266663;
}