.time-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .time-card h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .time-card h3 {
    color: #317773;
    font-size: 24px;
    font-weight: 500;
  }
  