.chatbot-container {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 100;
}

.chatbot-title {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--primary-color);
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 8px;
  word-wrap: break-word;
}

.user-message {
  background-color: var(--primary-color);
  color: white;
  align-self: flex-end;
}

.ai-message {
  background: #e5e5e5;
  color: black;
  align-self: flex-start;
}

.chatbot-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: var(--primary-color);
}

.chatbot-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.95);
}

.chatbot-send-button {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px;
  max-width: 23px;
  text-align: center;
}

.chatbot-send-button:hover {
  background: var(--primary-color);
}

.closed-chatbot {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chatbot-title img {
  width: 20px;
  cursor: pointer;
}
.chatbot-icon-closed {
  width: 30px;
  margin-top: 3px;
  cursor: pointer;
}
.chatbot-input-container img {
  width: 28px;
  cursor: pointer;
}
.send-backgroung {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  display: flex;
  margin-left: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
